/* responsive styles */

@media screen and (min-width: 450px) {
    #restaurants-list {
        width: 80%;
    }
    #restaurants-list .restaurant-img {
        /* margin: 1.8em 3em 0 0; */
        /* width: 90%; */
        /* max-width: 100%; */
    }
    #restaurants-list li {
        width: 80%;
    }
    .filter-container {
        width: 380px;
    }
}

@media screen and (min-width: 625px) {
    #restaurants-list {
        width: 90%;
    }
    #restaurants-list .restaurant-img {
        /* margin: 1.8em 3em 0 0; */
        /* width: 70%; */
        /* max-width: 100%; */
    }
    #restaurants-list li {
        width: 45%;
    }
    .filter-container {
        width: 450px;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 900px) {
    #restaurants-list {
        width: 90%;
    }
    #restaurants-list .restaurant-img {
        /* width: 90%; */
    }
    #restaurants-list li {
        width: 30%;
    }
    .filter-container {
        width: 600px;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    #restaurants-list {
        width: 1000px;
    }
    #restaurants-list .restaurant-img {
        /* margin: 1.8em 3em 0 0; */
        /* width: 90%; */
        /* max-width: 100%; */
    }
    #restaurants-list li {
        width: 30%;
    }
    .filter-container {
        width: 600px;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 0;
    }
}