    /* responsive styles */
    
    @media screen and (min-width: 450px) {
        .filter-options {
            flex-direction: column;
        }
        #restaurants-list {
            width: 80%;
        }
        .filter-options h2 {
            margin: 5px 0 5px;
        }
        #restaurants-list li {
            width: 80%;
        }
    }
    
    @media screen and (min-width: 625px) {
        .filter-options {
            flex-direction: row;
        }
        #restaurants-list {
            width: 90%;
        }
        #restaurants-list li {
            width: 45%;
        }
        #reviews-list li p {
            font-size: 12pt;
        }
        #restaurant-hours td {
            font-size: 12pt;
        }
    }
    
    @media screen and (min-width: 900px) {
        #restaurants-list {
            width: 90%;
        }
        #restaurants-list li {
            width: 30%;
        }
        #reviews-list li p {
            font-size: 14pt;
        }
        #restaurant-hours td {
            font-size: 14pt;
        }
        table {
            margin: 0 0;
        }
        #restaurant-container {
            display: flex;
            flex-direction: row;
        }
        .rest-image-container {
            width: 45%;
        }
        .rest-details-container {
            width: 45%;
        }
    }
    
    @media screen and (min-width: 1200px) {
        #restaurants-list {
            width: 1150px;
        }
        #restaurants-list li {
            width: 265px;
        }
    }